body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 800% 600%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.header {
    grid-row-start: 2;
    grid-row-end: 3;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }

  .footer{
    grid-row-start: 2;
    grid-row-end: 3;
    color: white;
    font-size: large;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }

#jogo{
    width:603px;
    height:600px;
    border:solid 3px
}
 
.linha{
    height:200px;
    border-bottom:solid 1px;
}

.marquee{
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}
 
.casa{
    width:200px;
    height:100%;
    border-right:solid 1px;
    float:left;
}

.conteudoMenu { 
    padding: 20px;
    position: relative; 
    width: 1000px; 
    height: 100px; 
    background-color: white; 
    margin: 0 auto;
}

.input {
    font-family: arial; 
    font-size: 25 px; 
    font-weight: bold;
    background: #E0E0E0";
}

